body{

    text-align: center;
    margin-top: 50px;
    background-color: bisque;
}
h1{
    color: darkorchid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.game-container{
    border:2px solid blue;
padding:20px;
width:400px;
margin:auto;
background-color: lightblue;
border-radius: 10px;
margin-top: 120px;
}
#checkButton, #restartButton{
    padding:10px 20px;
    font-size:16px;
    margin-top: 10px;
    border:1px solidgrey;
    border-radius:5px;
    cursor:pointer;
    background-color: lighgrey;

}
